# Basic If / Elif / Else Statements Practice

In [1]:
if True:
    print("IT'S TRUE!")

IT'S TRUE!

In [2]:
if 3 > 2: 
    print("IT's TRUE!")

IT's TRUE!

In [6]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry.")

FEED ME!

In [13]:
loc = "Auto Shop"

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == "Bank":
    print('Money is cool.')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Cars are cool

In [16]:
name = 'Ashley'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == "Sammy":
    print('Hello Sammy!')
else:
    print('What is your name?')

What is your name?

# LOOPS Practice

In [17]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [18]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [19]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [23]:
# printing only the even numbers in the list

for num in mylist:
    # check for even
    if num %2 == 0:
        print(num)
    else:
        # don't forget the f for the f-string
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [25]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

# This is outside of the four loop - this runs AFTER the FOR LOOP is completed
print(list_sum)

55

In [26]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [27]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [29]:
tuplelist = [(1,2), (3,4), (5,6), (7,8)]

len(tuplelist)

4

In [30]:
for item in tuplelist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [32]:
# THIS IS CALLED TUPLE UNPACKING AND IS VERY COMMON and used with built in python functions

for a,b in tuplelist:
    print(a)
    print(b)
    
# This allows access to the individual items in the tuple

1
2
3
4
5
6
7
8

In [33]:
for a,b in tuplelist:
    print(a)

1
3
5
7

In [34]:
# more TUPLE UNPACKING PRACTICE - note the variable defined mirros the tuple structure
newlist = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in newlist:
    print(b)

2
5
8

In [35]:
# LOOPING THROUGH DICTIONARIES

d = {'k1': 1, 'k2': 2, 'k3':3}

for item in d:
    print(item)
    
# BY DEFAULT ITERATING THROUGH THE KEYS

k1
k2
k3

In [37]:
# IF YOU WANT TO ITERATE THROUGH THE VALUES INSTEAD... add the .items() to what you want to iterate in
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [38]:
# DICTIONARY UNPACKING - similar to TUPLE UNPACKING - this will print the VALUES

for key,value in d.items():
    print(value)

1
2
3

In [40]:
# UNPAKING THE KEYS

for key,value in d.items():
    print(key)
    
# WHEN UNPACKING A DICTIONARY - remember that the list will be unordered

k1
k2
k3

# WHILE LOOPS PRACTICE

In [3]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [4]:
x =[1,2,3]

for item in x:
    pass

In [7]:
mystring = "Sammy"

for letter in mystring:
    if letter == "a":
        continue
    print(letter)

S
m
m
y

In [9]:
for letter in mystring:
    if letter == "a":
        break
    print(letter)

S

In [13]:
y = 0

while y < 5:
    if y == 2:
        break
    print(y)
    y += 1

0
1

# USEFUL OPERATORS PRACTICE

In [14]:
mylist = [1,2,3]

In [15]:
# range()
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [18]:
# enumerate

index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [20]:
# this seems more familiar from a JS perspective
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [22]:
# using the enumerate word to go through the variable (similar to above)

word = 'abcde'

for item in enumerate(word):
    print(item)

# prints out tuples of the index, character

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [23]:
# using enumerate + tuple unpacking

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [25]:
# ZIP FUNCTION

mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [26]:
zip(mylist1,mylist2)
# get back a memory address for the zipped list

In [27]:
# able it iterate over the zip to get the new combined list

for item in zip(mylist1,mylist2):
    print(item)

# This returns TUPLES of the zipped list matching one to another

(1, 'a')
(2, 'b')
(3, 'c')

In [28]:
mylist3 = ['cat','dog','mouse']

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 'cat')
(2, 'b', 'dog')
(3, 'c', 'mouse')

In [29]:
# in operator - checking to see if something in in a list

"x" in [1,2,3]

False

In [30]:
"x" in ["x", "y", "z"]

True

In [33]:
# in operator - also works in strings and dictonaries

'a' in 'a world'

True

In [34]:
'mykey' in {'mykey': 345}

True

In [35]:
d = {'mykey':345}

345 in d.values()

True

In [36]:
345 in d.keys()

False

In [37]:
nums = [10, 20, 30, 40, 100]

In [38]:
min(nums)

10

In [39]:
max(nums)

100

In [40]:
from random import shuffle

In [41]:
ordered = [1,2,3,4,5,6,7,8,9,10]

In [42]:
shuffle(ordered)

In [43]:
ordered

[3, 4, 5, 7, 6, 2, 10, 9, 1, 8]

In [44]:
from random import randint

In [46]:
randint(0,100)

64

In [47]:
result = input('What is your name?')

What is your name?Ashley

In [48]:
result

'Ashley'

In [49]:
# note that input ALWAYS produces a string - this is the work around (either float() or int())

In [50]:
age = int(input('How old are you? '))

How old are you? 34

In [51]:
type(age)

int

In [52]:
age

34

# LIST COMPREHENSIONS IN PYTHON

In [57]:
mystring = 'hello'

# want to make a list of every character in the string

# the LONG way

newlist = []

for letter in mystring:
    newlist.append(letter)

In [58]:
newlist

['h', 'e', 'l', 'l', 'o']

In [59]:
# The SHORT WAY (but kind of confusing)

weirdlist = [letter for letter in mystring]

In [61]:
weirdlist

['h', 'e', 'l', 'l', 'o']

In [62]:
wordlist = [x for x in 'word']

In [63]:
wordlist

['w', 'o', 'r', 'd']

In [64]:
# building a number list

mylist = [num for num in range(0,11)]

In [65]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
# you can then do operations on the first variable name

mylist = [num**2 for num in range(0,11)]

In [67]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
# can also do if statements

mylist = [x for x in range(0,11) if x%2==0]
# this would return even numbers only

In [69]:
mylist

[0, 2, 4, 6, 8, 10]

In [70]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [71]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [75]:
# taking the flattened list and building out the for loop (back to the long way)
celcius = [0,10,20,34.5]

fahrenheitx = []

for temp in celcius:
    fahrenheitx.append(((9/5)*temp +32))

In [76]:
fahrenheitx

[32.0, 50.0, 68.0, 94.1]

In [77]:
# IF ELSE STATEMENTS - may not be the best for list comprehensions - might be ugly and hard to read

results = [x if x%2==0 else "odd" for x in range(0,11)]

In [78]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [82]:
# NESTED LOOPS Example

mylistloop = []

for x in [2,4,6]:
    for y in [1, 10, 1000]:
        mylist.append(x*y)

In [81]:
mylist

[0, 2, 4, 6, 8, 10, 200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [84]:
# NESTED LOOPS list comprehension Example

crazylist = [x*y for x in [2,3,6] for y in [1,10,100]]

In [85]:
crazylist

[2, 20, 200, 3, 30, 300, 6, 60, 600]