In [4]:
my_name = 'ashley'

In [5]:
print("hello " + my_name)

hello ashley

In [6]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [7]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [8]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [9]:
result = 100/777

In [10]:
result

0.1287001287001287

In [11]:
print('The result was {r:10.2f}'.format(r=result))

The result was       0.13

In [12]:
name = 'ashley'

In [13]:
print('hello {}'.format(name))

hello ashley

In [14]:
print(f'Hello, my name is {name}')

Hello, my name is ashley

# LISTS PRACTICE

In [15]:
my_list = [1,2,3]

In [16]:
len(my_list)

3

In [17]:
mylist = ['one', 'two', 'three']

In [18]:
mylist[0]

'one'

In [19]:
mylist[1:]

['two', 'three']

In [20]:
pie = mylist[1:]

In [21]:
type(pie)

list

In [22]:
another_list = ['four', 'five']

In [23]:
combined = mylist + another_list

In [24]:
combined

['one', 'two', 'three', 'four', 'five']

In [25]:
combined[0] = 'ONE ALL CAPS'

In [26]:
combined

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [27]:
combined.append('six')

In [28]:
combined

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [29]:
combined.append('seven')

In [30]:
combined

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [31]:
combined.pop()

'seven'

In [32]:
combined.pop()

'six'

In [33]:
combined

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [34]:
popped_item = combined.pop()

In [35]:
popped_item

'five'

In [36]:
combined

['ONE ALL CAPS', 'two', 'three', 'four']

In [37]:
combined.pop(0)

'ONE ALL CAPS'

In [38]:
combined

['two', 'three', 'four']

In [39]:
char_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [40]:
char_list.sort()

In [41]:
char_list

['a', 'b', 'c', 'e', 'x']

In [42]:
unsort_num = num_list

In [43]:
num_list.sort()

In [44]:
num_list

[1, 3, 4, 8]

In [45]:
unsort_num

[1, 3, 4, 8]

In [46]:
num_list.reverse()

In [48]:
num_list

[8, 4, 3, 1]

In [49]:
states = ['kentucky', 'texas', 'arizona']

In [50]:
states.sort()

In [51]:
states

['arizona', 'kentucky', 'texas']

# DICTIONARIES PRACTICE

In [52]:
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [53]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [54]:
my_dict['key1']

'value1'

In [55]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [56]:
prices_lookup['apple']

2.99

In [57]:
dic = {'k1':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [63]:
dic['k2'][2]

2

In [61]:
dic['k3']['insidekey']

100

In [64]:
d = {'k1':100, 'k2':200}

In [65]:
d

{'k1': 100, 'k2': 200}

In [66]:
d['k3'] = 300

In [67]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [72]:
d['k1'] = 100

In [73]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [74]:
type(d)

dict

In [75]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [76]:
len(d)

3

In [77]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# TUPLES PRACTICE

In [1]:
t = (1,2,3)

In [2]:
type(t)

tuple

In [3]:
len(t)

3

In [5]:
mix_t = ('one', 2)

In [6]:
t[0]

1

In [7]:
mix_t[0]

'one'

In [8]:
char = ('a','a','b')

In [9]:
char.count('a')

2

In [10]:
char.count('t')

0

In [11]:
char.index('a')

0

# SETS PRACTICE

In [12]:
myset = set()

In [13]:
myset

set()

In [14]:
myset.add(1)

In [15]:
myset

{1}

In [16]:
myset.add(2)

In [17]:
myset

{1, 2}

In [18]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,4]

In [19]:
set(mylist)

{1, 2, 3, 4}

# BOOLEANS PRACTICE

In [20]:
True

True

In [21]:
False

False

In [22]:
type(False)

bool

In [23]:
1 > 2

False

In [24]:
1 == 1

True

In [25]:
b = None

In [26]:
b

# FILE I/O PRACTICE

In [27]:
%%writefile myfile.txt
Hello - this is a file
second line
third line

Writing myfile.txt

In [29]:
myfile = open('myfile.txt')

In [30]:
pwd

'/Users/ashley/dev/lessons/Complete-Python-3-Bootcamp/00-Python Object and Data Structure Basics'

In [31]:
myfile.read()

'Hello - this is a file\nsecond line\nthird line\n'

In [32]:
myfile.seek(0)

0

In [33]:
contents = myfile.read()

In [34]:
contents

'Hello - this is a file\nsecond line\nthird line\n'

In [35]:
myfile.seek(0)

0

In [36]:
myfile.readlines()

['Hello - this is a file\n', 'second line\n', 'third line\n']

In [37]:
myfile.close()

In [38]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [39]:
contents

'Hello - this is a file\nsecond line\nthird line\n'

In [49]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [50]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [51]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

now that the file has been updated with a new line APPENDED to it....

In [52]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [53]:
with open('abc.txt', mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [55]:
with open('abc.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

# SECTION LESSON TEST & REVIEW